sudo: false

cache:
  apt: true
  directories:
  - $HOME/.cache/pip
  - $HOME/.ccache
  - $HOME/.pip-cache
dist: trusty
language: python
env:
  TOX_PARALLEL_NO_SPINNER: 1


matrix:
  include:
    - os: linux
      arch: amd64
      python: '3.6'
      env: TOXENV="flake8,flake8-docs"

    - os: linux
      arch: amd64
      python: '3.8'
      env:
        - TOXENV="py38-linux"
      dist: bionic

    - os: linux
      arch: amd64
      python: '3.7'
      env:
        - TOXENV="py37-linux"
        - BOTO_CONFIG="/dev/null"
      dist: xenial
      sudo: true

    - os: linux
      arch: amd64
      python: '3.6'
      env: TOXENV="py36-linux"

    - os: linux
      arch: ppc64le
      python: '3.6'
      env: TOXENV="flake8,flake8-docs"

    - os: linux
      arch: ppc64le
      python: '3.8'
      env:
        - TOXENV="py38-linux"
      dist: bionic

    - os: linux
      arch: ppc64le
      python: '3.7'
      env:
        - TOXENV="py37-linux"
        - BOTO_CONFIG="/dev/null"
      dist: xenial
      sudo: true

    - os: linux
      arch: ppc64le
      python: '3.6'
      env: TOXENV="py36-linux"

install:
  - sudo apt-get install -y build-essential gdb libblas-dev liblapack-dev gfortran libjpeg-dev zlib1g-dev
  - pip install --upgrade git+git://github.com/cython/cython@master
  - pip install --upgrade numpy tox pytest https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl boto boto3 utils
  


before_script:
  - ulimit -c unlimited -S       # enable core dumps


script: tox -vv


after_failure:
  - pwd
  - COREFILE=$(find . -maxdepth 1 -name "core*" | head -n 1) # find core file
  - if [[ -f "$COREFILE" ]]; then EXECFILE=$(gdb -c "$COREFILE" -batch | grep "Core was generated" | tr -d "\`" | cut -d' ' -f5); file "$COREFILE"; gdb -c "$COREFILE" "$EXECFILE" -x continuous_integration/debug.gdb -batch; fi
